// simtanah
@function sqrt($r) {
  $x0: 1;
  $x1: $x0;
 
  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }
 
  @return $x1;
}
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";

$hex-size: 150px;
$hex-height: $hex-size / sqrt(3);
$hex-color: #009543;
$main-color: #009543;

.hexagon {
  position: relative;
  width: $hex-size; 
  height: $hex-height;
  background-color: $hex-color;
  margin: $hex-height / 2;
  display: inline-block;
  margin-right: -35px;
  @extend %fa-icon;
  @extend .fas;
}

.hexagon:before,
.hexagon:after {
  content: fa-content($fa-var-user);
  position: absolute;
  width: 0;
  border-left: $hex-size / 2 solid transparent;
  border-right: $hex-size / 2 solid transparent;
  left: 0px;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: $hex-height / 2 solid $hex-color;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: $hex-height / 2 solid $hex-color;
}

.App{
  background: url('./assets/bg_app1.png');
  background-size: cover;
  padding-bottom: 7.9%;
  .navbar{
    .navbar-brand{
      color: #fff;
      font-weight: bold;
    }
    .navbar-collapse{
      .navbar-nav{
        .nav-item{
          a{
            color: #fff;
            font-weight: bold;
          }
        }
      }
    }
  }
  .landing-page-simtanah{
    margin-top: 4%;
  }
  .row-2{
    margin-top: -40px;
  }
  .hexa-1{
    margin-left: -35px;
  }
}

// end of simtanah
