$main-color : #009543;
$hex-size : 180px;
.App{
  background: url('./assets/bg_app1.png');
  background-size: cover;
  padding-bottom: 7.9%;
  .navbar{
    .navbar-brand{
      color: #fff;
      font-weight: bold;
    }
    .navbar-collapse{
      .navbar-nav{
        .nav-item{
          a{
            color: #fff;
            font-weight: bold;
          }
        }
      }
    }
  }
  .landing-page-simtanah{
    margin-top: 3.8%;
  }
  .row-2{
    margin-top: -40px;
  }
  .hexa-pack{
    display: inline-block;
  }
  .hexa{
    mask: url(../src/assets/svg-hex.svg);
    color: #fff;
    height: $hex-size;
    width: $hex-size - 10;
    padding-left: 10px;
    margin-left: -5px;
    mask-size: $hex-size;
    -webkit-mask-size: $hex-size;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease-in;
    &:hover{
      opacity: 1;
    }
    .content-hexa{
      position: relative;
      top: 60px;
      .svg-inline--fa{
        font-size: 20pt;
      }
    }
  }
  .desc-hexa{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,0.5);
    color: #fff;
    height: 100%;
    padding-top: 5%;
    transition: all 0.5s ease;
  }
}
.close-btn{
  position: absolute;
  right: 2%;
  top: 3%;
  font-size: 20pt;
  cursor: pointer;
}

// end of simtanah
